{% extends 'bo/admin/admin.html' %}

{% load staticfiles %}
{% load i18n %}
{% load bo_tags %}

{% block breadcrumb  %}
	{{ block.super }}
  	<li>{{ type|title }} {% trans "Occurrence" %}</li>
{% endblock  %}

{% block page_header %}
	{% if type == 'add' %}
  		{% trans "Add Occurrence" %}
  	{% elif type == 'edit' %}
  		{% blocktrans with occurrence=occurrence %}
  		Edit {{ occurrence }}
  		{% endblocktrans %}
  	{% else %}
	{% endif %}
{% endblock %}

{% block content %}
<form action="{% if type == 'add' %}
			  {% url 'admin_occurrence_add' %}
			  {% elif type == 'edit' %}
			  	{% url 'admin_occurrence_edit' occurrence.id %}
			  {% else %}
			  	.
			  {% endif %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
			  
	{% include 'bo/_fields.html' %}
	<br/>
	<br/>
	<button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
</form>
{% endblock %}