{% load i18n %}
{% load bo_tags %}

<nav class="navbar nav-pills  navbar-dark bg-inverse">
  <a class="navbar-brand" href="/index/">{% SETTINGS "SITE_NAME" %}</a>
  <ul class="nav navbar-nav">
	<li class="nav-item active">
		<a class="nav-link" href="/index/">
			{% trans "Home" %}<span class="sr-only">(current)</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">{% trans "Statistics" %}</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">{% trans "Help" %}</a>
	</li>
  </ul>
  {% comment %}
  <form class="form-inline pull-right">
	<input class="form-control" type="text" placeholder="{% trans "Search" %}">
		<button class="btn btn-primary-outline" type="submit">
			<span class="fa fa-search"></span>
		</button>
  </form>
  {% endcomment %}
  <ul class="nav navbar-nav pull-right">
  		{% if request.user.is_authenticated %}
	  	<li  class="nav-item dropdown">
			<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> {{ request.user.get_full_name }}</a>
			<ul class="dropdown-menu">
			  	<li class="dropdown-item">
					<a href="{% url 'settings' 'profile' %}">
						<i class="fa fa-gears"></i> {% trans "Settings" %}
					</a>
			  	</li>
			 	 <li role="separator" class="divider"></li>
			 	<li class="dropdown-item">
					<a href="{% url 'logout' %}">
						<i class="fa fa-sign-out"></i> {% trans "Logout" %}
					</a>
				</li>
			</ul>
	  	</li>
	  	{% else %}
		<li class="nav-item">
			<a class="nav-link" href="{% url 'login' %}">{% trans "Login" %}</a>
		</li>
	  	{% endif %}
	</ul>
</nav>