{% extends 'bo/_base_clean.html' %}

{% load staticfiles %}
{% load i18n %}
{% load bo_tags %}

{% block page_header %}{% trans "Welcome to the Electronic Bulletin Events" %}{% endblock %}


{% block content %}

<div class="card-deck-wrapper">
	<div class="card-deck">
 	{% for occurrence in occurrences %}
		{% if forloop.counter0|is_divisible:4 and forloop.counter0 != 0 %}
		</div>
		</br>
		<div class="card-deck">
		{% endif %}
		<div class="card">
			<img class="card-img-top" src="{% if occurrence.get_image %}{{occurrence.get_image.url}}{% else %}{% static 'bo/img/test.png/' %}{% endif %}" alt="Card image cap" width="100%">
			<div class="card-img-overlay">
				<h4 class="card-title" >{{ occurrence.get_name }}</h4>
				<p class="card-text">{{ occurrence.get_description }}</p>
				<a href="#" class="btn btn-primary">{% trans "Report" %}</a>
				<a href="#" class="btn btn-info">{% trans "Statistics" %}</a>
			</div>
		</div>
	{% endfor %}
	</div>
</div>
{% endblock %}